# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Modèles lourds (NeuralProphet)
*.pkl
*.pkl.zip
neuralprophet_*.pkl

# IDE
.vscode/
.idea/
*.swp
*.swo

# Streamlit
.streamlit/secrets.toml
.streamlit/config.toml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
streamlit.log

# Cache
.streamlit/cache
